*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Century Gothic', Calibri, serif;
    font-size: 13px;
    background-color:greenyellow;
}
h1{
    text-align: center;
}
.p1{
    float: left;
}
.p2{
    float: right;
}
#para1,#para2{
    background-color: orange;
}
header{
    height:100%;
}
nav{
    width: 100%;
    display: table;
    margin: 0 auto;
}
nav li{
    list-style-type: none;
    float: left;
    width:33% ;
}
.nav-home{
    border-top: 5px solid #4C8;
    background-color: rgba(64, 200, 130, 0.15);
}
.nav-about{
    border-top: 5px solid #F1DC4F;
    background-color: rgba(241, 200, 75, 0.15);
}
.nav-contact{
    border-top: 5px solid #0070BB;
    background-color: rgba(000, 112, 192, 0.15);
}
footer{
    width: 100%;
    padding-top: 30px;
    text-align: center;
    border-top: 4px solid #AAA;
    background-color: blue;
}
/* 
@media screen and (max-width: 780px){
    #div1, #div2, #div3{
        
        width: 100%;
        border-left: none;
        border-right: none;
        margin-right: 0px;
    }
    #footer{
        display: none;
    }
}
 */